# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# YOLO outputs
runs/
**/runs/
outputs/
**/outputs/

# Weights
*.pt
*.pth

# Logs
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/